body {
	/*background-color: rgb(35, 44, 49);*/

	background-image: url("../img/borboleta.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 320px;
	margin: 100px auto;
	font-family: 'Sarala', sans-serif; 
	font-size: 14px;
	color: white;
}


h1 {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	padding: 10px 0 10px 0;
}

h2{
	font-size: 14px;
	font-weight: 700;
	background-color: rgb(35, 44, 49);
	margin-bottom: 25px;
	padding: 6px 10px;
}

.msg-status-salvar{
	background-color: #DA1653;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	padding: 2px;
}
	


p { line-height: 20px; }
p:first-child{ margin-top: 0; }

a{ color: white; }

input{
	padding: 4px 11px;
	margin-top: 4px;
	border-radius: 2px;
	border: 2px solid #29bdd1; 
	transition: .1s linear; 
	outline: none;
}

input:focus { border: 2px solid #c627e6; }

textarea{
	height: 200px;
	width: 160px;
	resize: vertical;
	padding: 10px 20px;
	margin-top: 4px;
}

button {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	background-color: #c627e6;
	color: white;
	font-weight: bold;
	padding: 12px 40px;
	border: none;
	transition: .15s linear;
	cursor: pointer;
	margin-bottom: 10px;
}

button:hover{ background-color: #d152eb; }





.botao-pequeno{
	background-color: #7736d9;
	font-size: 11px;
	padding: 6px 10px;
	border-radius: 0;
	margin-top: 60px;
}

#botao-pequeno-index {
	margin-top: 0;
}

.botao-pequeno:hover{ background-color: #925ee0; }

#conteudo-principal{
	text-align: center;
	background: linear-gradient(135deg, 
		rgba(74,213,232,1) 0%, 
		rgba(31,147,229,1) 100%);
	padding: 30px 0;
	border-radius: 6px;
}

.box-central{
	display: inline-block;
	background-color: rgba(35, 44, 49, .2);
	width: 200px;
	padding: 20px;
	margin: 20px 30px 0 30px;
}

.barra-escura{
	width: 320px;
	background-color: rgba(35, 44, 49, .5);
}

header{ margin-top: -85px; }


.logo img{ width: 120px; }

.logo{ margin: 0 auto; }

.listar-clientes p{ text-align: justify; }

.box-nomes-clientes a{
	text-align: left;
	text-decoration: none;
	
}

.box-nomes-clientes p {
	transition: .1s ease-out;
	background-color: rgba(35, 44, 49, .3);
	border-radius: 4px;
	padding: 6px;
}

.box-nomes-clientes p:hover{
	cursor: pointer;
	background-color: rgba(35, 44, 49, .6);
}

.titulo-pag-descr {
	font-size: 14px;
	background-color:rgba(35, 44, 49, .8);
	display: inline;
	padding: 2px 10px;

}


footer p{
	font-size: 10px;
	text-align: right;
	margin-right: 10px;	
	color: #999999;
}

footer a { color: #999999; }





